<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <system.web.extensions>
    <scripting>
      <webServices><jsonSerialization maxJsonLength="10000000"></jsonSerialization></webServices>
    <webServices>
    </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <customErrors mode="Off" />
    <sessionState timeout="5" />
    <httpRuntime />
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <!--<httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>-->
  </system.web>
  <appSettings>
    <!--<add key="server" value=".\MSSQLUnitTesting"/>
    <add key="database" value="FundManagement"/>
    <add key="username" value="sa"/>
    <add key="password" value="cardmri2015"/>-->
    <add key="Server" value="cmitserver.database.windows.net" />
    <add key="Database" value="FMS" />
    <add key="Username" value="appsadmin@cmitserver" />
    <add key="Password" value="Password123" />  

  </appSettings>
  <connectionStrings>
    <!--<add name="FMSContext" connectionString="Server=.\MSSQLUnitTesting;Initial Catalog=FundManagement;User ID=sa;Password=cardmri2015; Max Pool Size = 500; Connect Timeout = 300;" />-->
    <add name="FMSContext" connectionString="Server=cmitserver.database.windows.net;Initial Catalog=FMS;User ID=appsadmin@cmitserver;Password=Password123; Max Pool Size = 500; Connect Timeout = 300;" />
  </connectionStrings>
  <system.webServer>
    <!--<handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>-->
    <validation validateIntegratedModeConfiguration="false" />
        <defaultDocument>
            <files>
                <add value="CSFundLogin.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>